html {
    height: 100%;
}
body {
    position: relative;
    min-height: 100%;
}
header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
main {
    padding-top: 16px;
    padding-bottom: 60px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
#result {
    height: 600px;
}